<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rust Contributors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/styles/bootstrap.css"/>
    <link rel="stylesheet" href="public/styles/styles.css"/>
    <link rel="stylesheet" href="public/styles/custom.css"/>
  </head>
  <body class="container">
    <div class="center">
      <h1 class="jumbo">
        <img src="public/images/rust-logo-blk.png" alt="rust logo" class="emoji"/>
        <img src="public/images/sparkle-heart.png" alt="sparkle heart" class="emoji"/>
        Thanks!
        <img src="public/images/sparkle-heart.png" alt="sparkle heart" class="emoji"/>
        <img src="public/images/rust-logo-blk.png" alt="rust logo" class="emoji"/>
      </h1>
      <h2>About</h2>
      <p><strong>Thanks</strong> is a place for us to give thanks to everyone who
      contributes to the <a href="https://www.rust-lang.org/">Rust project</a>.</p>
      <p>Currently, we are only tracking commits to <code>rust-lang/rust</code>.
      In the future, we have plans to add commit tracking for more repositories
      under the Rust project generally, and possibly even tracking other kinds
      of contributions than commits, as they're also important!</p>
      <p>This project is <a href="https://github.com/rust-lang-nursery/thanks/issues">
      hosted on GitHub</a>. Please file any bugs or ask for new features there.</p>
      <p>This project was inspired by <a href="http://contributors.rubyonrails.org/">
      Rails Contributors</a>.</p>
      <p>If you don't wish for your name to be here, or if your name is listed twice,
      or has changed, or anything else, please either <a
      href="https://github.com/rust-lang-nursery/thanks/issues">open an issue</a> if
      it's okay to publicly discuss, or <a
      href="mailto:steve@steveklabnik.com">email Steve</a> if you'd prefer to be more
      discrete. We are happy to remove or make edits where appropriate.</p>
    </div>
  </body>
</html>
