<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rust Contributors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/styles/bootstrap.css"/>
    <link rel="stylesheet" href="public/styles/styles.css"/>
  </head>
  <body>
     <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Rust All-time Contributors</h1>

          <p>We have had {{ count }} individuals contribute to Rust. Thank you so much!</p>
    
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Commits</th>
              </tr>
            </thead>
            <tbody>
              {{#each scores as |score| }}
                <tr><td>{{ score.author }}</td><td>{{ score.commits }}</td></tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
