<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rust Contributors</title>
  </head>
  <body>
    <h1>Rust All-time Contributors</h1>

    <p>We have had {{ count }} individuals contribute to Rust. Thank you so much!</p>
    
    <ul>
    {{#each names as |name| }}
        <li>{{ name }}</li>
    {{/each}}
    </ul>
  </body>
</html>
