<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rust Contributors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/styles/bootstrap.css" />
    <link rel="stylesheet" href="public/styles/styles.css" />
    <link rel="stylesheet" href="public/styles/custom.css" />
</head>

<body class="container">
    <div class="center">
        <h1 class="jumbo">
        <img src="public/images/rust-logo-blk.png" alt="rust logo" class="emoji"/>
        <img src="public/images/sparkle-heart.png" alt="sparkle heart" class="emoji"/>
        Thanks!
        <img src="public/images/sparkle-heart.png" alt="sparkle heart" class="emoji"/>
        <img src="public/images/rust-logo-blk.png" alt="rust logo" class="emoji"/>
      </h1>

      {{~> content}}

    </div>
</body>

</html>
