<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rust Contributors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/styles/bootstrap.css"/>
    <link rel="stylesheet" href="public/styles/styles.css"/>
  </head>
  <body>
    <div class="container">
      <h1>Rust Contributors</h1>
      <p>Releases:</p> 
      <ul>
        <li><a href="all-time">All time</li>
        <li><a href="master">Unreleased (on the master branch, not in a release yet)</li>
        {{#each releases as |release| }}
          <li><a href="{{ release }}">{{ release }}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
