{{#*inline "content"}}
      <p>
      Rust is a community project and is very thankful for the many community contributions it receives. <a href="about">See this page for more information</a>.
      <p>
      <h2>Releases:</h2>
      <ul>
        <li><a href="/rust/all-time">All time</li>
        {{#each releases as |release| }}
          <li><a href="/rust/{{ release }}">{{ release }}</a></li>
        {{/each}}
      </ul>
{{/inline}}
{{~> container ~}}
