<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rust Contributors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      body {
        margin:40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
      }
      h1, h2, h3 {
        line-height: 1.2;
      }
    </style>
  </head>
  <body>
    <h1>Rust {{ release }} Contributors</h1>

    <p>We had {{ count }} individuals contribute to {{ release }}. Thank you so much!</p>
    
    <ul>
    {{#each names as |name| }}
        <li>{{ name }}</li>
    {{/each}}
    </ul>
  </body>
</html>
