<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rust Contributors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/styles/bootstrap.css"/>
    <link rel="stylesheet" href="public/styles/styles.css"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Rust {{ release }} Contributors</h1>

          <p>We had {{ count }} individuals contribute to {{ release }}. Thank you so much!</p>
    
          <ul>
          {{#each names as |name| }}
            <li>{{ name }}</li>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
